*{
    box-sizing: border-box;
    font-family: "Merriweather Sans", sans-serif;
    
 }
 
 #form{
    color: white;
    background-color: #009EDF;
    border-radius: 5px;
    
    width: 800px;
    padding: 40px;
    margin: 150px auto;
    
    -webkit-box-shadow: -1px 3px 18px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 3px 18px 0px rgba(0,0,0,0.75);
    box-shadow: -1px 3px 18px 0px rgba(0,0,0,0.75);}
h1{
    background-color: #009EDF;
}

.form-group{
    /* background-color: #8cb4c3 ; */
    margin-bottom: 20px;
}

